<h1><%= @article.title  %></h1>
<p><%= @article.content %></p>
<button type="button" class="btn btn-outline-secondary"><%= link_to 'Edit', edit_article_path %></button>
<button type="button" class="btn btn-outline-primary"><%= link_to 'Back', articles_path %></button>
<button type="button" class="btn btn-outline-danger"><%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Delete article?' } %></button>
